// tr.example-element-row:not(.example-expanded-row):hover {
//     background: #777;
// }

// tr.example-element-row:not(.example-expanded-row):active {
//     background: #efefef;
// }

.list-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.list-table-container {
    margin-top: 50px;
    position: relative;
    height: 100vh;
    overflow-x: auto;
}

table {
    width: 100%;
}